/* File: angband.rc */
#include "win-menu.h"

ANGBAND MENU
{
	POPUP "&File"
	{
		MENUITEM "&New", IDM_FILE_NEW
		MENUITEM "&Open...", IDM_FILE_OPEN
		MENUITEM SEPARATOR
		MENUITEM "&Save", IDM_FILE_SAVE
		MENUITEM SEPARATOR
		MENUITEM "Show S&cores", IDM_FILE_SCORE
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_FILE_EXIT
	}

	POPUP "&Window"
	{
		POPUP "&Visibility"
		{
			MENUITEM "Term-&0 window", IDM_WINDOW_VIS_0
			MENUITEM "Term-&1 window", IDM_WINDOW_VIS_1
			MENUITEM "Term-&2 window", IDM_WINDOW_VIS_2
			MENUITEM "Term-&3 window", IDM_WINDOW_VIS_3
			MENUITEM "Term-&4 window", IDM_WINDOW_VIS_4
			MENUITEM "Term-&5 window", IDM_WINDOW_VIS_5
			MENUITEM "Term-&6 window", IDM_WINDOW_VIS_6
			MENUITEM "Term-&7 window", IDM_WINDOW_VIS_7
		}

		POPUP "&Font"
		{
			MENUITEM "Term-0 window", IDM_WINDOW_FONT_0
			MENUITEM "Term-1 window", IDM_WINDOW_FONT_1
			MENUITEM "Term-2 window", IDM_WINDOW_FONT_2
			MENUITEM "Term-3 window", IDM_WINDOW_FONT_3
			MENUITEM "Term-4 window", IDM_WINDOW_FONT_4
			MENUITEM "Term-5 window", IDM_WINDOW_FONT_5
			MENUITEM "Term-6 window", IDM_WINDOW_FONT_6
			MENUITEM "Term-7 window", IDM_WINDOW_FONT_7
		}

		MENUITEM SEPARATOR

		POPUP "Increase Tile Width"
		{
			MENUITEM "Term-0 window", IDM_WINDOW_I_WID_0
			MENUITEM "Term-1 window", IDM_WINDOW_I_WID_1
			MENUITEM "Term-2 window", IDM_WINDOW_I_WID_2
			MENUITEM "Term-3 window", IDM_WINDOW_I_WID_3
			MENUITEM "Term-4 window", IDM_WINDOW_I_WID_4
			MENUITEM "Term-5 window", IDM_WINDOW_I_WID_5
			MENUITEM "Term-6 window", IDM_WINDOW_I_WID_6
			MENUITEM "Term-7 window", IDM_WINDOW_I_WID_7
		}

		POPUP "Decrease Tile Width"
		{
			MENUITEM "Term-0 window", IDM_WINDOW_D_WID_0
			MENUITEM "Term-1 window", IDM_WINDOW_D_WID_1
			MENUITEM "Term-2 window", IDM_WINDOW_D_WID_2
			MENUITEM "Term-3 window", IDM_WINDOW_D_WID_3
			MENUITEM "Term-4 window", IDM_WINDOW_D_WID_4
			MENUITEM "Term-5 window", IDM_WINDOW_D_WID_5
			MENUITEM "Term-6 window", IDM_WINDOW_D_WID_6
			MENUITEM "Term-7 window", IDM_WINDOW_D_WID_7
		}

		POPUP "Increase Tile Height"
		{
			MENUITEM "Term-0 window", IDM_WINDOW_I_HGT_0
			MENUITEM "Term-1 window", IDM_WINDOW_I_HGT_1
			MENUITEM "Term-2 window", IDM_WINDOW_I_HGT_2
			MENUITEM "Term-3 window", IDM_WINDOW_I_HGT_3
			MENUITEM "Term-4 window", IDM_WINDOW_I_HGT_4
			MENUITEM "Term-5 window", IDM_WINDOW_I_HGT_5
			MENUITEM "Term-6 window", IDM_WINDOW_I_HGT_6
			MENUITEM "Term-7 window", IDM_WINDOW_I_HGT_7
		}

		POPUP "Decrease Tile Height"
		{
			MENUITEM "Term-0 window", IDM_WINDOW_D_HGT_0
			MENUITEM "Term-1 window", IDM_WINDOW_D_HGT_1
			MENUITEM "Term-2 window", IDM_WINDOW_D_HGT_2
			MENUITEM "Term-3 window", IDM_WINDOW_D_HGT_3
			MENUITEM "Term-4 window", IDM_WINDOW_D_HGT_4
			MENUITEM "Term-5 window", IDM_WINDOW_D_HGT_5
			MENUITEM "Term-6 window", IDM_WINDOW_D_HGT_6
			MENUITEM "Term-7 window", IDM_WINDOW_D_HGT_7
		}

		MENUITEM SEPARATOR

		POPUP "Term 0 Tile Size"
		{
			MENUITEM "Font",   IDM_TILE_FONT
			MENUITEM "8 x 8",   IDM_TILE_08X08
			MENUITEM "8 x 16", IDM_TILE_08X16
			MENUITEM "16 x 16", IDM_TILE_16X16
			MENUITEM "32 x 32", IDM_TILE_32X32
			MENUITEM "16 x 32", IDM_TILE_16X32
			MENUITEM "12 x 13", IDM_TILE_12X13
		}

    MENUITEM SEPARATOR
		MENUITEM "Term Options",    IDM_WINDOW_OPT
		MENUITEM "Reset Windows",    IDM_WINDOW_RESET
	}

	POPUP "&Options"
	{
		MENUITEM "&Map", IDM_OPTIONS_MAP
		MENUITEM "&Screenshot", IDM_OPTIONS_SCREENSHOT
		MENUITEM SEPARATOR
		POPUP "&Graphics"
		{
			MENUITEM "&None", IDM_OPTIONS_GRAPHICS_NONE
  	  MENUITEM SEPARATOR
			MENUITEM "&Bigtile Mode", IDM_OPTIONS_BIGTILE
		}

		MENUITEM "&Sound", IDM_OPTIONS_SOUND
		MENUITEM SEPARATOR
		MENUITEM "Low Priority", IDM_OPTIONS_LOW_PRIORITY
		MENUITEM "Activate Screensaver", IDM_OPTIONS_SAVER
	}

	POPUP "&Help"
	{
		MENUITEM "&Contents", IDM_HELP_GENERAL
	}
}

ANGBAND ICON "zplus.ico"

